.container
{
    margin-top: 250px;
}
.col-md-7 h2
{
	font-weight: bolder;
	color: #555;
}
.rupees
{
	color: #FE980F;
	font-size: 28px;
	font-weight: bold;
	padding-top: 6px;
}
input
{
	border-radius: 1px solid #ccc;
	font-weight: bold;
	height: 33px;
	text-align: center;
	width: 30px;
}
.carousel-item img{
	height: 125% ;
	border-radius: 75px 20px 75px 20px;
}